body{

    background-color: rgb(35, 25, 39);
    font-family: 'Rubik', sans-serif;
    padding: 0%;
    overflow-x: hidden;

}

.Menu{

    top: 0%;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(88, 87, 86));

}

.botao-menu{

    color: white;

}

.seçao{

    background-color: rgb(35, 25, 39);
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Squada One', cursive;

}

.div-1-seçao{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-left: 40px;
    padding-right: 40px;

}

.div-2-seçao{

    padding-top: 50px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;

}

.seçao-1{

    background-image: url(img/background-seçao-2.jpg);
    background-size: cover;
    border-radius: 30px;
    margin-top: 5px;

}

.seçao-2{

    background-image: url(img/background-seçao-1.jpg);
    background-size: cover;
    border-radius: 30px;
    margin-top: 5px;

}

.biblioteca-item{

    font-size: 20px;
    color: white;

}

.categorias-item{

    font-size: 20px;
    color: white;

}

.conta-item{

    font-size: 20px;
    color: white;

}

.dropdown-menu{

    background-color: rgb(59, 29, 61);
    color:rgb(255, 255, 255);
}

.rodape{

    padding-top: 5px;
    background-color: rgb(32, 30, 32);
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;

}

.nome-logo{

    color: white;
    font-family: 'Squada One', cursive;
    font-size: 40px;
    margin-top: -65px;
    margin-left: 95px;

}

.rodape-item{

    font-size: 15px;
    color: white;
    text-decoration: none;
    line-height: 40px;

}

.titulo-rodape{

    font-size: 20px;
    color: rgb(94, 94, 94);
    text-decoration: none;

}

.divisoria-rodape{

    margin-bottom: 30px;

}

.imagem-rodape{

    color: white;

}

.botao{

    height: 60px;
    width: 220px;
    font-size: 30px;
    margin-top: 40px;

}

.titulo-seçao{

    font-size: 90px;
    color: rgb(202, 86, 202);

}